/*页脚、底部样式*/
{
%
load
staticfiles
%
}
.footer {
    background-color: #5bc0de;
    padding: 1px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.re_top {
    background-color: #eea236;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: fixed;
    right: 0;
    bottom: 8%;
    background-size: 50px;
    background-image: url("../img/re_top.png");
}

.bgp {
    background-color: #F0F8FF;
    /*background: url("../img/bgt.jpg") repeat center 200% fixed;*/
    /*background-color 背景颜色*/
    /*background-image   背景图片地址*/
    /*background-repeat  是否平铺 默认是平铺*/
    /*background-position 背景位置  (模式是左上角 0 0) 方位没有顺序*/
    /*    1.（length 长度 ）写精确单位 或者百分比 第一个值是x坐标 第二个一定是y*/
    /*    2.（position： top|center | bottom | left | right  方位坐标）*/
    /*      如果方位名词只写一个  另外一个默认为center*/
    /*    3.混搭也ok*/
    /*background-attachment 设置背景图是否固定 默认是scroll, fixed是固定*/

    /*合写： background： 背景颜色 背景图片地址 背景平铺 背景滚动 背景位置*/
    /*background: #000 url(image/sst.jpg) no-repeat center -25px fixed;}*/
}

.article {
    height: 300px;
    width: 20%;
    margin-left: 20%;
    overflow: auto;
    background-color: #f5ffcf;
}
.index_div1{
    float: left;
    margin-left: 10%;
    width: 60%;
}
.index_div2{
    float: left;
    padding-left: 15px;
    width: 25%;
    height: 200px;
    background-color: #ffc9e9;
}
.my_space_Navigation{
    width: 33%;
    text-align: center;
}