{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}base{% endblock %}</title>
    <link rel="Icon" href="{% static 'UI/img/favicon.ico' %}" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'UI/css/base.css' %}" rel="stylesheet">
    <script src="{% static 'UI/js/base.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
    {% block css %}{% endblock %}
  </head>
  <body style="background-color:#F0F8FF" id="nr">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav" aria-expanded="false">
            <span class="sr-only">切换导航条</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BUGPZ</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="my-nav">
          <ul class="nav navbar-nav">
            <li  style="display: none" class="active"><a href="/xadmin/">管理</a></li>
            <li class="active"><a href="/index/">首页</a></li>
            {% if request.session.is_login %}
            <li class="active"><a href="/Navigation/">外站导航</a></li>
            <li style="display: none" class="active"><a href="python">python</a></li>
            <li style="display: none" class="active"><a href="linux">服务器</a></li>
            <li style="display: none" class="active"><a href="django">django</a></li>
            <li style="display: none" class="active"><a href="problem">开发过程中遇到的各种问题解决方法</a></li>
            {% else %}
            <li style="margin-top: 15px">导航栏已隐藏，请登陆后查看</li>
            {% endif %}

          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if request.session.is_login %}
                  <li><a href="#">当前在线：{{ request.session.user_name }}</a></li>
                  <li><a href="/logout/">登出</a></li>
              {% else %}
                  <li><a href="/login/">登录</a></li>
                  <li><a href="/register/">注册</a></li>
              {% endif %}
          </ul>
            <input style="margin-top: 12px" type="button" onclick='bg_color()' value="黑暗模式" >
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->
    </nav>
    <!-- 导航栏  -->



    {% block content %}{% endblock %}
    {% load staticfiles %}
    <a  href="#top" title="返回顶部">
      <button class="re_top"> </button>
    </a>
    <footer class="footer">
      <p class="container">
        <a href="mailto:bugpz2779@gamil.com">
        点击联系我们
          </a>
        <a href="/" target="_blank"> Powered by BUGPZ</a>
        <span> &nbsp;&nbsp;© 2019 bugpz.xyz 版权所有 </span>
        <a href="http://beian.miit.gov.cn" target="_blank">蜀ICP备20003462号</a>
      </p>
      <div style="width:300px;margin:0 auto; height: 20px">
		 		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51011402000281" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                  <img src="{% static 'UI/img/BATB.png' %}" style="float:left;"/>
                  <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    川公网安备 51011402000281号
                  </p>
                </a>
		 	</div>
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>