{% extends 'yy/base.html' %}
{% block title %}BUGPZ{% endblock %}
{% block content %}
    {% load staticfiles %}
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <link href="{% static 'UI/css/base.css' %}">
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'UI/js/upload.js' %}"></script>

    {% if request.session.is_login %}
        <!--    <h1>你好,{{ request.session.user_name }}！欢迎回来！</h1>-->
        <div class="article" id="article">
            {% for data in art %}
                <span>
                    <a href="{% url 'yy:page' data.id %}">{{ data.title }}</a>
                </span><br>
            {% endfor %}
            <span id="art_n">{{ art_n }}</span>
        </div>
        <!--  文件上传   -->
        <h3>文件上传</h3>
        <form method="post" action="/uploadFiles/" enctype="multipart/form-data" id="uploadform">
            {% csrf_token %}
            <!--        <input type="file" name="xFile" id="upload_input">-->
            <!--        <input type="submit" value="上传" id="test">-->

        </form>

    {% else %}
        <h1>
            <a href="https://www.aliyun.com/minisite/goods?userCode=qet4zxjy" style="color: crimson">
                阿里云产品长期活动
            </a>
        </h1>
    {% endif %}


{% endblock %}